:local {
	.header {
		height: 60px;
		background: #2a3347;
		color: azure;
		font-size: 32px;
		letter-spacing: 48px;
		text-align: center;
		line-height: 60px;
		}
	
	.topMenu {
		height: 20px;
		}
	
	.container {
		display: table;
		margin: auto;
		}
	}

body {
	margin: 0;
	background: #b7b681;
}